.banner-box {
  @apply overflow-x-hidden bg-black;
  .banner {
    background-position: top center;
    @apply relative w-screen h-[100vh] md:h-[88vh] bg-banner-pc bg-no-repeat bg-cover;
  }
}
.page-pc {
  @apply hidden md:block;
}
.page-h5 {
  @apply block md:hidden;
}
.docs-header {
  .header-modal {
    @apply border-b-[1px] border-solid border-grayf1;
  }
  .page-h5 {
    @apply hidden md:block;
  }
  .page-pc {
    @apply block md:hidden;
  }
}
.home-page {
  @apply relative bg-black0a md:bg-white;
  .page-pc {
    @apply hidden md:block;
  }
  .page-h5 {
    @apply block md:hidden;
  }
  .content {
    @apply md:pr-0 md:px-0 absolute top-[42%] md:top-0 md:left-1/2 md:-ml-[542px] text-left md:text-center md:w-[1084px] overflow-hidden;
    p,
    h2 {
      @apply px-4 md:px-0;
    }
  }
  .logo {
    @apply absolute top-0 left-0 hidden md:block cursor-pointer;
    img {
      @apply w-[7rem];
    }
  }
  h2,
  p,
  a {
    @apply text-white;
  }
  p,
  a {
    @apply text-base;
  }

  h2 {
    @apply text-[66px] md:text-[5.5rem] relative mb-9 md:mb-12 leading-[72px] md:leading-[107px] mt-0 md:mt-[17rem];
    text-shadow: 0px 4px 10px rgba(0, 0, 0, 0.302);
    font-family: 'TVPS-Vain';
    span {
      @apply absolute left-0 w-full z-10;
    }
  }
  p {
    @apply leading-[32px] text-base text-left md:text-center mb-4 md:mb-2;
    a {
      @apply text-black00 hover:text-black74;
      font-family: 'Roboto-Bold';
    }
    i {
      @apply font-bold;
      font-family: 'Roboto-Bold';
    }
  }
  .join {
    @apply mb-9 md:mb-2;
  }

  .header {
    @apply mt-10 mb-14 flex flex-wrap justify-between;
    a {
      @apply relative hover:text-gray00 pr-7 text-lg;
      font-family: 'Roboto-Bold';
      i {
        @apply absolute top-[2px] w-6 h-6 bg-arrows bg-no-repeat bg-cover;
      }
    }
  }
}

@media (min-width: 769px) and (max-width: 1085px) {
  .container {
    @apply px-4;
  }
  .home-page {
    .content {
      @apply w-[830px] left-1/2 -top-[3%] -ml-[415px];
    }
    h2 {
      @apply text-[4.4rem] mb-0;
    }
    .tab {
      @apply bottom-[2.9rem];
    }
  }
  .docs-header-pc {
    .header {
      @apply px-4;
    }
  }
}
@media (min-width: 1086px) and (max-width: 1210px) {
  .home-page {
    .content {
      @apply top-9;
    }
  }
}

@media (min-width: 1700px) and (max-width: 2200px) {
  .home-page {
    h2 {
      @apply mt-[22rem];
    }
  }
}
